<%- include('head') %>
<div class="mySelf">
  <div class="Aboutheading">
    <div class="text">
      <h1>About Me</h1>
      
        <img class="mobilepic" src="/images/Osama.jpg" alt="" />
      
      <p>
        I enjoy designing and developing things that live on web and mobile
        platforms.
      </p>
      <br />
      <p>
        My interest for software engineering started since 2009 when I was
        introduced to a hardware & software workshop that deal with mobile,
        desktop and laptop repairs.
      </p>
      <br />
      <p>
        I have ever since had passion & love for software engineering. Learning
        to work with several programing languages like:
      </p>

      <div class="languages">
        <p id="languages">C#</p>
        <p id="languages">Python</p>
        <p id="languages">Java Script</p>
        <p id="languages">Swift</p>
        <p id="languages">HTML & CSS</p>
      </div>
      <br />
      <p>
        In my <span class="emphacy3"><a href="/project">personal projects</a></span> I have also had a
        good opportunity to work with frameworks & Databases like:
      </p>
      <div class="languages">
        <p id="languages">React</p>
        <p id="languages">React Native</p>
        <p id="languages">Vue JS</p>
        <p id="languages">Express</p>
        <p id="languages">MongoDB</p>
        <br />
      </div>
      <p>
        All these were possible with awesome code editors & UI Design tools
        like:
      </p>
      <div class="languages">
        <p id="languages">Atom</p>
        <p id="languages">VS Code</p>
        <p id="languages">Sketch3</p>
        <p id="languages">Adobe XD</p>
      </div>
      <br />
      <p>
        Fast-forward to today, I have worked with a top logistics agency and a
        huge FMCG here in Nigeria where I worked as a Data
        Engineer.<br />
      </p>
    </div>
    <div class="image">
      <div class="image1">
        <img class="profileImg" src="/images/Osama.jpg" alt="" />

        <div class="SVGHolder">
          <img src="/images/svg.png" class="svgs">
      </div>
      </div>
      <div class="image2">
        <img class="profileImg2" src="/images/Conference.jpg" alt="" />
        <div class="SVGHolder">
          <img src="/images/svg.png" class="svgs">
      </div>
      </div>
    </div>
  </div>
</div>
<%-include('foot')%>
