<%-include('header')-%>
<div class="about">
    <div class="hero">
        <svg viewBox="50 30 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#F3F3F3"
                d="M52.2,-38.9C61.7,-29.8,59.2,-8.4,52.5,8.4C45.7,25.1,34.8,37.3,20.2,45.8C5.7,54.2,-12.5,58.9,-27.6,53.2C-42.8,47.5,-54.9,31.4,-62.4,10.8C-69.8,-9.8,-72.6,-34.9,-61.4,-44.4C-50.2,-53.9,-25.1,-47.7,-1.9,-46.2C21.4,-44.7,42.8,-48,52.2,-38.9Z"
                transform="translate(100 100)" />
        </svg>
        <div class="greetingView">
            <div class="greeting">
                <p class="medium">Well, <span class="greet">Hello</span> there!</p>
                <br>
                <br>
                <p class="large">I'm a <span class="emphacy">Web and Mobile software engineer.</span></hp>
                <br>
                <br>
                <p>I make web and mobile apps that <span class="emphacy2">'functions'</span> and <span class="emphacy2">'sparkle'.</span></p>
            </div>
            <img src="images/arrow.png" alt="" srcset="">
        </div>
        
    </div>
</div>
<script src="JavaScript/Hello.js"></script>
<%-include('footer')%>