<%-include('header')-%>
<div class="mySelf">
    <div class="heading">
        <h1>About Me</h1>
        <p>I enjoy creating things that live on web and mobile platforms.My interest for software engineering started since 2009 when i </p>
    </div>
    
</div>
<%-include('footer')%>