<%-include('header')-%>
<div class="mySelf">
  <div class="heading">
    <div class="text">
      <h1>About Me</h1>
      <p>
        I enjoy designing and developing things that live on web and mobile
        platforms.
      </p>
      <br />
      <p>
        My interest for software engineering started since 2009 when I was
        introduced to a hardware & software workshop that deal with mobile,
        desktop and laptop repairs.
      </p>
      <br />
      <p>
        I have ever since had passion & love for software engineering. Learning
        to work with several programing languages like:
      </p>

      <div class="languages">
        <p id="languages">C#</p>
        <p id="languages">Python</p>
        <p id="languages">Java Script</p>
        <p id="languages">Swift</p>
        <p id="languages">HTML & CSS</p>
      </div>
      <br />
      <p>
        In my <span class="emphacy3"><a href="/project">personal projects</a></span> I have also had a
        good opportunity to work with frameworks like:
      </p>
      <div class="languages">
        <p id="languages">React</p>
        <p id="languages">React Native</p>
        <p id="languages">Vue JS</p>
        <p id="languages">Express</p>
      </div>
      <p>
        All these were possible with awesome code editors & UI Design tools
        like:
      </p>
      <div class="languages">
        <p id="languages">Atom</p>
        <p id="languages">VS Code</p>
        <p id="languages">Sketch3</p>
        <p id="languages">Adobe XD</p>
      </div>
      <br />
      <p>
        Fast-forward to today, I have worked with a top logistics agency and a
        huge FMCG here in Nigeria where I currently work as a Distribution
        Centre Operations supervisor.<br />
        With over 11 years experience under the supply chain umberella, <span class="emphacy3">with high expectation to work with a tech company someday.</span>
      </p>
    </div>
    <div class="image">
      <div class="image1">
        <img class="profileImg" src="/images/Osama.jpg" alt="" />

        <svg
          id="svg"
          viewBox="-30 10 250 250"
          class="vg"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none" 
        >
          <path
            fill="#2EE59D"
            d="M52.2,-38.9C61.7,-29.8,59.2,-8.4,52.5,8.4C45.7,25.1,34.8,37.3,20.2,45.8C5.7,54.2,-12.5,58.9,-27.6,53.2C-42.8,47.5,-54.9,31.4,-62.4,10.8C-69.8,-9.8,-72.6,-34.9,-61.4,-44.4C-50.2,-53.9,-25.1,-47.7,-1.9,-46.2C21.4,-44.7,42.8,-48,52.2,-38.9Z"
            transform="translate(100 100)"
          />
        </svg>
      </div>
      <div class="image2">
        <img class="profileImg2" src="/images/Conference.jpg" alt="" />
        <svg
          id="svg"
          class="vg"
          viewBox="-30 10 250 250"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none" 
        >
          <path
            fill="#2EE59D"
            width="100%"
            d="M52.2,-38.9C61.7,-29.8,59.2,-8.4,52.5,8.4C45.7,25.1,34.8,37.3,20.2,45.8C5.7,54.2,-12.5,58.9,-27.6,53.2C-42.8,47.5,-54.9,31.4,-62.4,10.8C-69.8,-9.8,-72.6,-34.9,-61.4,-44.4C-50.2,-53.9,-25.1,-47.7,-1.9,-46.2C21.4,-44.7,42.8,-48,52.2,-38.9Z"
            transform="translate(100 100)"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<%-include('footer')%>
