</body>
<footer>
<div class="footView">
<div class="fHolder">
    <div class="contactView">
        <p class="FText">Contact me</p>
        <div class="socialBtn">
            <a href="https://twitter.com/El_baldini" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/el_baldini/" target="blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/Osama92" target="blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/atobiloye-a-usama-adedayo-8b935453/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://stackoverflow.com/users/9437547/osamad" target="blank"><i class="fab fa-stack-overflow fa-2x"></i></a>
        </div>
    </div>
    <a class="email" href="mailto:dhayo213@gmail.com">dhayo213@gmail.com</a>
    <br>
    <br>
    <a class="phone" href="tel:+234 703 116 7360">+234 703 116 7360</a>
    <br>
    <br>
    <br>
    <p class="footerText">Designed & Built by Atobiloye Usama Adedayo</p>
</div>
</div>   
<script src="JavaScript/Hello.js"></script>
<script src="JavaScript/toggle.js"></script>
<script src="JavaScript/animation.js"></script>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.0.2/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBkfJ968njQwfQ9ezSSHNMKOhgSX8emUeQ",
    authDomain: "portfolio-973ed.firebaseapp.com",
    projectId: "portfolio-973ed",
    storageBucket: "portfolio-973ed.appspot.com",
    messagingSenderId: "526933837059",
    appId: "1:526933837059:web:3845240d7ce7f4f93f9536",
    measurementId: "G-PXD1C7DH9F"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
 
</footer>
</html>
