</body>
<footer>
<div class="footView">
<div class="fHolder">
    <p class="NIText">Contact me</p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</div>    
</footer>
</html>
