</body>
<footer>
<div class="footView">
<div class="fHolder">
    <div class="contactView">
        <p class="FText">Contact me</p>
        <div class="socialBtn">
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-github fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>
            <i class="fab fa-stack-overflow fa-2x"></i>
        </div>
    </div>
    <p>dhayo213@gmail.com</p>
    <br>
    <p>+234 703 116 7360</p>
    <br>
    <br>
    <br>
    <p>&copy;Atobiloye Usama Adedayo</p>
</div>
</div>    
</footer>
</html>
