</body>
<footer>
<div class="footView">
<div class="fHolder">
    <div class="contactView">
        <p class="FText">Contact me</p>
        <div class="socialBtn">
            <a href="https://twitter.com/El_baldini" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.instagram.com/el_baldini/" target="blank"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://github.com/Osama92" target="blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/atobiloye-a-usama-adedayo-8b935453/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://stackoverflow.com/users/9437547/osamad" target="blank"><i class="fab fa-stack-overflow fa-2x"></i></a>
        </div>
    </div>
    <a class="email" href="mailto:dhayo213@gmail.com">dhayo213@gmail.com</a>
    <br>
    <br>
    <a class="phone" href="tel:+234 703 116 7360">+234 703 116 7360</a>
    <br>
    <br>
    <br>
    <p class="footerText">Designed & Built by Atobiloye Usama Adedayo</p>
</div>
</div> 

<script src="JavaScript/toggle.js"></script>
<script src="JavaScript/animation.js"></script>
 
</footer>
</html>
