<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Styles/header.css" />
    <link rel="stylesheet" href="/Styles/footer.css" />
    <link rel="stylesheet" href="/Styles/intro.css" />
    <link rel="stylesheet" href="/Styles/about.css" />
    <link rel="stylesheet" href="/Styles/project.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Atobiloye Usama Adedayo</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a class="logoText" href="/" id="dark">Atobiloye Usama Adedayo</a>
            <div class="ham_holder">
                <i class="fas fa-bars"></i>
                <p class="sendBtn">Send</p>
            </div>
        </div>
        <div class="navItems">
            <a class="NIText" href="/about" id="dark">About</a>
            <a class="NIText" href="/project" id="dark">Projects</a>
            <a class="LDtoggle"><i class='bx bxs-sun'></i></a>


        </div>
        <div class="menuOverlay">
            <i class='bx bx-sun'></i>
            <a class="mobileNav" href="/">Home</a>
            <a class="mobileNav" href="/about">About</a>
            <a class="mobileNav" href="/project">Projects</a>

        </div>
        <div class="contactModal">
            <div class="cmHeader">
                <p class="FText">Interested in hiring me?</p>
            </div>
            <div class="textInputs">
                <div class="fields"></div>
            </div>
            <div class="closeBtn">
                <a class="modalClose"><i class='bx bx-x bx-sm'></i></a>
            </div>
        </div>
    </header>
</body>

</html>