<%-include('head')-%>
<div class="projectView">
   <div class="projectHolder">
    <h1>Some Things I’ve Built</h1>
    <div class="project">
       <div class="showcase"></div>
       <div class="showcase_text">
          <div class="showcase_01">
             <p>Instagram Inspired Project</p>
             <h2 class="emphacy">Photography Agency</h2>
          </div>
          <div class="showcase_02">
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime modi inventore, dolore vitae iusto autem ipsa alias? Dolorem vitae, mollitia ea quos unde repellat nobis at aut fugit, alias recusandae.</p>
          </div>
          <div class="showcase_03">
             <div class="built_with">
                <p>HTML</p>
                <p>CSS</p>
                <p>Java Script</p>
             </div>
             <div class="link">
               <a href="https://github.com/Osama92" target="blank"><i class="fab fa-github fa-2x"></i></a>
               <a href="http://" target="blank"><i class="fas fa-external-link-alt fa-2x"></i></a>
             </div>
          </div>
       </div>
    </div>
   </div>
</div>
<%-include('foot')%>