<%-include('head')-%>
<div class="projectView">
   <div class="projectHolder">
    <h1>Some Things I’ve Built</h1>
    <div class="project">
       <div class="showcase">
          <img src="images/project01.PNG" alt="">
       </div>
       <div class="showcase_text">
          <div class="showcase_01">
             <p>Instagram Inspired Project</p>
             <h2 class="emphacy">Photography Agency</h2>
          </div>
          <div class="showcase_02">
             <p>This project was inspired by @webuistylist post on instagram. The UI Design was made by @arshakirpk. Arsha has a lot of beautiful post on UI design, this caught my attention due to the use of black and white UI.</p>
          </div>
          <div class="showcase_03">
             <div class="built_with">
                <p>HTML</p>
                <p>CSS</p>
                <p>JavaScript</p>
                <p>ScrollReveal JS</p>
             </div>
             <div class="link">
               <a href="https://github.com/Osama92/Photography" target="blank"><i class="fab fa-github fa-lg"></i></a>
               <a href="http://" target="blank"><i class="fas fa-external-link-alt fa-lg" id="proj_icons"></i></a>
             </div>
          </div>
       </div>
    </div>
    <div class="project">
      <div class="showcase">
         <img src="images/Portfolio2.PNG" alt="">
      </div>
      <div class="showcase_text">
         <div class="showcase_01">
            <p>React Project</p>
            <h2 class="emphacy">React_Tuck_Shop</h2>
         </div>
         <div class="showcase_02">
            <p>This Project challenged me in learning how to intergrate Redux into a React web app. A simple shopping app (Mobile-only) where users can buy family care products, and pay for it by answering simple math questions.😁</p>
         </div>
         <div class="showcase_03">
            <div class="built_with">
               <p>React</p>
               <p>CSS</p>
               <p>Redux</p>
               <p>Heroku</p>
            </div>
            <div class="link">
              <a href="https://github.com/Osama92/React_Tuck_Shop" target="blank"><i class="fab fa-github fa-lg"></i></a>
              <a href="http://react-tuck-shop.herokuapp.com/" target="blank"><i class="fas fa-external-link-alt fa-lg" id="proj_icons"></i></a>
            </div>
         </div>
      </div>
   </div>
    <div class="project">
      <div class="showcase">
         <img src="images/PortfolioImg.PNG" alt="">
      </div>
      <div class="showcase_text">
         <div class="showcase_01">
            <p>Personal Project</p>
            <h2 class="emphacy">Portfolio v1.0</h2>
         </div>
         <div class="showcase_02">
            <p>This project was built because I enjoy simplicity in design. A simple, comfortable UI to show case built projects and skills I have acquired during my software engineering journey. </p>
         </div>
         <div class="showcase_03">
            <div class="built_with">
               <p>EJS</p>
               <p>CSS</p>
               <p>JavaScript</p>
               <p>Express</p>
               <p>Heroku</p>
            </div>
            <div class="link">
              <a href="https://github.com/Osama92/Express_Portfolio" target="blank"><i class="fab fa-github fa-lg"></i></a>
              <a href="http://" target="blank"><i class="fas fa-external-link-alt fa-lg" id="proj_icons"></i></a>
            </div>
         </div>
      </div>
   </div>
   <div class="project">
      <div class="showcase">
         <img src="images/Portfolio2.PNG" alt="">
      </div>
      <div class="showcase_text">
         <div class="showcase_01">
            <p>Instagram Inspired Project</p>
            <h2 class="emphacy">LifeStyle</h2>
         </div>
         <div class="showcase_02">
            <p>This project was inspired by @webuistylist post on instagram. The UI Design was made by @arshakirpk. Arsha has a lot of beautiful post on UI design, this also caught my attention due to the use Big UI fonts and love for Dogs. </p>
         </div>
         <div class="showcase_03">
            <div class="built_with">
               <p>HTML</p>
               <p>CSS</p>
               <p>JavaScript</p>
               <p>ScrollReveal JS</p>
            </div>
            <div class="link">
              <a href="https://github.com/Osama92/LifeStyle" target="blank"><i class="fab fa-github fa-lg"></i></a>
              <a href="http://" target="blank"><i class="fas fa-external-link-alt fa-lg" id="proj_icons"></i></a>
            </div>
         </div>
      </div>
   </div>
   </div>
</div>
<%-include('foot')%>