<%- include('head') %>
<div class="about">
    <div class="hero">
        <div class="SVGHolder">
            <img src="/images/svg.png" class="svgs">
        </div>
        <div class="greetingView">
            <div class="greeting">
                <p class="medium">Well, <span class="greet">Hello</span> there!</p>
                <br>
                <br>
                <p class="large">I'm a <span class="emphacy">full stack Web and Mobile software engineer.</span></p>
                    <br>
                    <br>
                    <p class="catch">I build, design web and mobile apps that <span class="emphacy2">'functions'</span> and <span
                            class="emphacy2">'sparkle'.</span></p>
                    <br>
                    <br>
                    <button class="HireBtn">Get in Touch</button>
            </div>
        </div>

    </div>
</div>

<%- include('foot')%>