* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.greet {
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;

}
svg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: 1000;
}