* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}

.medium {
    font-size: 25px;
}
.large {
    font-size: 35px;
}

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.greet {
    font-family: 'Pacifico', cursive;
}
.greetingView {
    width: 100%;
    display: flex;
    justify-content: center;
}
.greeting {
    width: 90%;
    margin-top: 100px;
    z-index: 3;

}
.emphacy {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
.emphacy2 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
.hero {
    width: 100%;

}
.HireBtn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border:none ;
    border-radius: 5px 20px 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    background-color: #E4E4E4;
    color: #000;
    outline: none;
}
.HireBtn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    font-family: 'Pacifico', cursive;
    transform: translateY(-7px);
  }
svg {
    width: 900px;
    height: 800px;
    position: absolute;
    z-index: 1;
}