.footView {
    /* background: #A19882; */
    background: #fff;
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.fHolder {
    width: 90%;
    min-height: 100%;
}
.FText {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}
.contactView {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.socialBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    align-items: center;
}
.fab {
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #000;
    outline: none;
    box-shadow: none;
    z-index: 1000;
}
.fab:hover {
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #2EE59D;
    border-radius: 10px;
}
.email {
    font-weight: 700;
    cursor: pointer;
    width: min-content;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.10em;
    text-decoration: none;
    color: #000;
}
.email:hover {
    color:#2EE59D;
}
@media all and (min-width: 360px) and (max-width: 768px) {
    .contactView {
        flex-direction: column;

    }
    .socialBtn {
        min-width: 100%;
        justify-content: flex-start;
        margin-top: 30px;
    }
    .fab {
        margin-right: 30px;
        margin-left: 0;
        align-items: none;
    }

}