:root {
  --fontColor1: #000;
  --background1: #fff;
  --fontColor2: #fff;
  --background2: #171717;
}

.footView {
  background: var(--background1);
  min-height: 300px;
  display: flex;
  justify-content: center;
  transition: background 0.5s ease;
}
.fHolder {
  width: 90%;
  min-height: 100%;
}
.FText {
  /* font-family: "Pacifico", cursive; */
  font-family: "Roboto";
  font-size: 2rem;
}
.contactView {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.socialBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}
.fab {
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--fontColor1);
  outline: none;
  box-shadow: none;
  z-index: 1000;
}
#proj_icons {
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--fontColor1);
  outline: none;
  box-shadow: none;
  z-index: 1000;
}
#proj_icons:hover {
  /* transform: translateY(-7px); */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #2ee59d;
  border-radius: 10px;
}
.fab:hover {
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #2ee59d;
  border-radius: 10px;
}
.email {
  font-weight: 700;
  cursor: pointer;
  width: min-content;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--fontColor1);
  padding-bottom: 20px;
}
.email:hover {
  color: #2ee59d;
}

.phone {
  margin-top: 20px;
  text-decoration: none;
  color: var(--fontColor1);
  font-family: "Roboto", sans-serif;
}
.phone:hover {
  color: #2ee59d;
  font-weight: 700;
}
.footerText {
  font-size: 0.8em;
  margin-bottom: 10px;
  color: grey;
}
