* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.logo {
    height: 40px;
    width: 30%;
}

.logoText {
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.navItems {
    height: 40px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.NIText {
    font-family: 'Roboto', sans-serif;
    margin-left: 60px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: black;
}

.NIText:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #2EE59D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.NIText:hover:after {
    width: 100%;
    left: 0;
}
.LDtoggle i {
    text-decoration: none;
    margin-left: 60px;
    cursor: pointer;
}