.projectView {
  width: 100%;
  height: 200vh;
  background: var(--background1);
  display: flex;
  justify-content: center;
}
.projectHolder {
  width: 90%;
  height: 100%;
}
.project {
  width: 90%;
  min-height: 60vh;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.showcase {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.5));
  transition: all 0.2s ease-in-out;
}
.showcase img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.showcase_text {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.showcase_01 {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.showcase_01 p {
  margin-top: 20px;
  margin-bottom: 10px;
}
.showcase_02 {
  width: 110%;
  height: 20vh;
  position: relative;
  right: 4rem;
  border-radius: 5px;
  background: #2ee59d;
  display: flex;
  align-items: center;
}
.showcase_02 p {
  width: 90%;
  padding-left: 20px;
}
.showcase_03 {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.built_with {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.built_with p {
  margin-left: 20px;
  font-size: 15px;
  color: grey;
}
.link {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@media all and (min-width: 360px) and (max-width: 768px) {
  .project {
    display: flex;
    flex-direction: column;
  }
  .showcase {
    width: 100%;
  }
  .showcase_text {
    width: 100%;
  }
  .showcase_01 {
    width: 100%;
    background: pink;
  }
  .showcase_02 {
    width: 100%;
  }
}
